.to-do__item-text {
  flex-grow: 1;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  padding-inline-end: 50px;
}


.to-do__item-text:focus{
    outline: 1px solid #ffffff;
  outline-offset: 2px;
}